.git
.gitignore
.idea/
*.iml
cmake-build-*/
CMakeFiles/
CMakeCache.txt
*.o
*.obj
*.exe
*.log
*.tmp
.DS_Store
Thumbs.db
README.md
*.md
compose.dev.yaml
Dockerfile.test
run_tests.sh
CMakePresets.json
config.ini
cmake-build-cross-debug
cmake-build-cross-release
cmake-build-debug
cmake-build-ide
logs
